.checkbox {
  display: flex;
  align-items: flex-start;

  &--small {
    cursor: pointer;

    .checkbox__mark {
      width: 20px;
      height: 20px;

      &::after {
        top: 1px;
        left: 2px;
      }
    }

    .checkbox__label {
      font-size: $font-size-3;
    }
  }

  input {
    display: none;

    &:checked ~ .checkbox__mark::after {
      opacity: 1;
    }
  }

  &__mark {
    position: relative;
    display: block;

    flex-shrink: 0;

    width: 10px;
    height: 10px;

    margin-top: 2px;

    border: 1px solid #b3b3b3;

    transition: opacity 0.15s ease;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &::after {
      content: url("../img/icons/control/checkmark.svg");
      position: absolute;
      top: -7px;
      left: 1.25px;

      opacity: 0;

      transition: opacity 0.15s ease;
    }
  }

  &__label {
    font-size: $font-size-6;
    line-height: 15px;

    transition: color 0.15s ease;
  }

  &__policy {
    transition: color 0.15s ease;

    &:hover {
      text-decoration: underline;
    }
  }
}
