.input-field {
  width: 100%;

  padding-bottom: 5px;

  background-image: url("../img/other/input-line.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 100%;

  transition: all 0.15s ease;

  &::placeholder {
    color: $text-gray--light;
  }

  &--box {
    background-image: url("../img/other/input-line--space.svg");
    background-repeat: repeat;
    background-position-y: bottom;
    background-size: 100%;

    min-height: 140px;

    resize: none;

    &:focus {
      // Для плавного анимации исчезновения
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8Xw8AAoMBgDTD2qgAAAAASUVORK5CYII=);
    }
  }

  &--error {
    background-image: url("../img/other/input-line--error.svg");
  }
}
