.input-field {
  width: 100%;

  padding-bottom: 5px;

  background-image: url("../img/other/input-line.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 100%;

  transition: background-color 0.15s ease;

  &::placeholder {
    color: $text-gray--light;
  }

  &--error {
    background-image: url("../img/other/input-line--error.svg");
  }
}
