// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

footer {
  position: relative;
  margin-top: 160px;

  padding: 30px 0;
  background-color: $palette-gray;

  @include breakpoint($breakpoint-tablet-large) {
    margin-top: 90px;
    padding: 15px 0;
  }
}

.footer {
  &__col--mobile {
    @include breakpoint($breakpoint-tablet-large) {
      position: absolute;
      right: 0;
      bottom: 15px;
    }
  }

  &__logo {
    .logo {
      width: 100%;
      max-width: 95px;

      margin-top: 15px;
    }
  }

  &__company p {
    @include breakpoint($breakpoint-tablet-large) {
      font-size: $font-size-3;
    }
  }

  &__privacy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include breakpoint($breakpoint-tablet-large) {
      margin-bottom: 18px;
    }

    @include breakpoint($breakpoint-tablet) {
      align-items: center;
    }
  }

  &__link {
    @include breakpoint($breakpoint-tablet-large) {
      font-size: $font-size-6;
    }

    &::after {
      content: "";
      display: block;

      width: 100%;
      height: 1px;

      background-color: #767878;
    }
  }
}
