// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

.header {
  @include flex();

  padding-top: 10px;
  padding-bottom: 10px;

  background-color: $palette-white;

  @include breakpoint($breakpoint-tablet) {
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__title {
    display: none;
    font-weight: $weight-medium;
    font-family: Avenir, sans-serif;

    color: $text-gray;

    @include breakpoint($breakpoint-tablet) {
      display: block;
    }
  }

  &__logo {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }

    &--mobile {
      display: none;

      @include breakpoint($breakpoint-mobile-large) {
        display: block;
      }
    }
  }

  &__nav {
    margin-left: 50px;
    margin-right: auto;

    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }

  &__social {
    @include breakpoint($breakpoint-tablet) {
      display: none !important;
    }
  }

  &__link {
    &:hover path {
      fill: #52c3be;
    }
  }

  &__icon {
    path {
      transition: fill 0.15s ease;
    }
  }
}
