// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

.header {
  @include flex();

  padding-top: 10px;

  background-color: $palette-white;

  &__link {
    &:hover path {
      fill: #52c3be;
    }
  }

  &__icon {
    path {
      transition: fill 0.15s ease;
    }
  }
}
