.career-advantages {
  &__item {
    @include flex();
    flex-direction: column;

    &--mb {
      margin-bottom: 100px;
    }
  }

  &__icon {
    margin-bottom: 10px;
  }

  &__title {
    font-size: $font-size-4;
    font-weight: $weight-thin;

    text-align: center;
    line-height: 24px;
  }
}