.modal-info {
  .modal__title {
    font-size: $font-size-4;
    font-weight: $weight-thin;

    line-height: 28px;

    @include breakpoint($breakpoint-mobile-large) {
      font-size: $font-size-5;
      line-height: 24px;
    }
  }

  .modal__container {
    min-width: 505px;
    min-height: 200px;

    text-align: center;

    @include breakpoint($breakpoint-mobile-large) {
      width: 95%;
      min-width: unset;
    }
  }

  .modal__content {
  }
}
