// -----------------------------------------------------------------------------
// В этом файле подключаются все шрифты через font-face, если таковые есть
// -----------------------------------------------------------------------------

@include font-face('Avenir', '../fonts/Avenir/AvenirNextCyr-Light', 300);
@include font-face('Avenir', '../fonts/Avenir/AvenirNextCyr-Meduim', 400);
@include font-face('Avenir', '../fonts/Avenir/AvenirNextCyr-Demi', 600);

@include font-face('Futura', '../fonts/Futura/Futura-Normal', 400);