.form {
  max-width: 330px;

  &__wrapper {
    display: flex;
    flex-direction: column;

    border-radius: 13px 13px 13px 0;
    padding: 45px 35px 35px 35px;

    box-shadow: -4px 2px 23px rgba(0, 0, 0, 0.06);
  }

  &__title {
    margin-bottom: 25px;

    font-size: $font-size-3;

    text-transform: uppercase;
    text-align: center;

    line-height: 26px;
  }

  &__button {
    position: relative;
    z-index: 1;
  }

  &__error {
    position: relative;
    z-index: 0;
    top: 15px;

    margin-top: -20px;

    opacity: 0;
    visibility: hidden;

    color: #e93e3a;

    transition: all 0.15s ease;

    &--visible {
      margin-top: 0;

      opacity: 1;
      visibility: visible;
    }
  }
}
