// -----------------------------------------------------------------------------
// Соединяем все фрагменты разметки в один файл
// -----------------------------------------------------------------------------

// Общие фрагметы, которые встречаются на всех страницах
@import "common/header";
@import "common/nav";
@import "common/footer";

// Фрагметы главной страницы
@import "pages/main/hero.scss";
@import "pages/main/hirer.scss";
@import "pages/main/applicant.scss";
@import "pages/main/career/main.scss";