// Основной цвет
// Цветовая палитра блоков
$palette-white: #ffffff;
$palette-gray: #959595;

// Цветовая палитра текста
$text-black: #444444;
$text-white: #ffffff;
$text-gray--light: #b3b3b3;
$text-gray: #767878;
$text-blue: #53c3bd;
$text-yellow: #f6c428;
