#contact {
  margin-top: 95px;

  .section__title {
    margin-bottom: 56px;
  }

  .section__picture {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }
}

.contact {
  &__content {
    text-align: center;
  }

  &__description {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }

  &__title {
    margin-bottom: 55px;
    line-height: 25px;
    text-transform: uppercase;

    @include breakpoint($breakpoint-tablet) {
      width: 60%;

      margin-left: auto;
      margin-right: auto;

      margin-bottom: 30px;
    }
  }

  &__social {
    @include flex($justify: center);

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__link {
    transition: opacity 0.15s ease;

    &:not(:last-child) {
      margin-right: 17px;
    }

    &:hover {
      opacity: 0.6;
    }
  }
}
