// -----------------------------------------------------------------------------
// Фрагмент стилизации какой-то секции
// -----------------------------------------------------------------------------

#hero {
  @include background(
    "../img/section/hero/background.jpg",
    $position: center center
  );

  @include breakpoint($breakpoint-laptop) {
    background-position: 35% center;
  }

  @include breakpoint($breakpoint-tablet) {
    background-position: 50% center;
  }

  @include breakpoint($breakpoint-mobile-large) {
    position: relative;

    background-image: none;
    background-color: #f5c423;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;

      width: 170px;
      height: 20px;

      background-color: #c6c6c6;
    }
  }
}

.hero {
  position: relative;

  padding-top: 220px;
  padding-bottom: 142px;

  @include breakpoint($breakpoint-tablet) {
    padding-top: 90px;
    padding-bottom: 0;
  }

  @include breakpoint($breakpoint-mobile-large) {
    padding-top: 60px;
  }

  &__foreground {
    position: absolute;
    bottom: 0;
    left: 0;

    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }

  &__content {
  }

  &__title {
    position: absolute;
    visibility: hidden;
  }

  &__logo {
    margin-bottom: 10px;

    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }

  &__mobile-foreground {
    display: none;

    @include breakpoint($breakpoint-mobile-large) {
      display: block;
    }

    img {
      margin: 0 auto;
    }
  }

  &__mobile-logo {
    display: none;

    @include breakpoint($breakpoint-tablet) {
      display: block;

      margin-bottom: 80px;
    }

    @include breakpoint($breakpoint-mobile-large) {
      display: none;
    }
  }

  &__subtitle {
    margin-bottom: 20px;

    color: $text-white;
    font-size: $font-size-1;
    font-weight: $weight-regular;

    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }

  &__description {
    margin-bottom: 40px;

    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }

  &__action {
    margin-bottom: 45px;

    @include breakpoint($breakpoint-tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__button {
    @include breakpoint($breakpoint-tablet) {
      width: 90%;
    }
  }

  &__slogan {
    color: $text-gray;

    font-size: $font-size-1;
    font-weight: $weight-light;

    text-transform: uppercase;

    @include breakpoint($breakpoint-tablet) {
      display: none;
    }

    strong {
      font-weight: $weight-bold;
    }
  }
}
