#hirer {
  .section__picture {
    @include breakpoint($breakpoint-tablet) {
      bottom: 320px;
      left: -125px;
    }
  }
}

.hirer {
  padding-top: 170px;

  @include breakpoint($breakpoint-tablet) {
    padding-top: 80px;
  }

  &__content {
    @include breakpoint($breakpoint-tablet) {
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 20px;

    font-weight: $weight-thin;
    font-size: $font-size-3;
    line-height: 26px;
  }

  &__list {
    margin-bottom: 40px;
  }

  &__contact {
    font-family: Avenir, sans-serif;
    font-size: $font-size-3;
    font-weight: $weight-bold;

    text-transform: uppercase;

    @include breakpoint($breakpoint-tablet) {
      display: none;
      text-align: center;
    }

    &--mobile {
      @include breakpoint($breakpoint-tablet) {
        display: block;
      }
    }
  }

  &__social {
    margin-top: 30px;

    @include breakpoint($breakpoint-tablet) {
      justify-content: center;
    }
  }

  &__link {
    transition: opacity 0.15s ease;

    &:hover {
      opacity: 0.6;
    }
  }

  &__form {
    position: relative;
    top: -40px;
  }
}
