.section {
  position: relative;
  overflow: hidden;

  &__title {
    margin-bottom: 40px;

    font-size: $font-size-0;
    text-transform: uppercase;

    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 20px;

      font-size: $font-size-1;
      text-align: center;
    }

    &--blue {
      color: $text-blue;
    }

    &--orange {
      color: $text-yellow;
    }

    &--center {
      text-align: center;
    }
  }

  &__picture {
    @include breakpoint($breakpoint-tablet) {
      position: absolute;
      z-index: -1;

      img {
        width: 180px;
      }
    }
  }
}
