.button-secondary {
  color: $text-white;
  background-color: $button-secondary;

  &:hover {
    background-color: $button-secondary__hover;
  }

  &:active {
    background-color: $button-secondary__active;
  }

  &:hover,
  &:active {
    @include breakpoint($breakpoint-tablet-large) {
      background-color: $button-secondary;
    }
  }
}
