// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Кнопка"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

// Цветовая палитра кнопок
$button-primary: #e93e3a;
$button-primary__hover: #f2605c;
$button-primary__active: #d13430;

$button-border--left: 13px 13px 13px 0;
$button-border--right: 13px 13px 0 13px;

@import "button";
